* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: arial, tahoma, sans-serif;
    font-size: 0.97em;
    text-decoration: none;
}
body {
	background: url('../images/bg.jpg') no-repeat fixed;
}
a:link, a:visited {
	color: #3C8405;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #cc0407;
}
.clear {
	clear: both;
}
.listTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 100px;
}
.searchResult {
	height: 120px;
  overflow: hidden;
}
#wrapper {
    background: #ffffff;
    margin: 0 auto;
    width: 1000px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 5px 2px #8E8E8E;
    -moz-box-shadow: 0 0 5px 2px #8E8E8E;
    -webkit-box-shadow: 0 0 5px 2px #8E8E8E;
}
.boxShadow {
    border: 1px solid #e5e5e5;
}
.usr {
	color: red;
  font-weight: bold;
}

/*** LOGIN ***/
#content .login label {
	float: left;
  width: 100px;
  margin: 5px;
  clear: left;
}
#content .login input {
	margin: 5px;
  height: 25px;
  width: 200px;
  padding: 0 5px;
}
#content .login input[type=submit] {
	margin: 0 0 5px 114px;
  width: 70px;
}
#content .errMess {
	color: red;
}
#content .login a {
	margin: 0 0 0 114px;
  font-weight: bold;
}
/*** HEADER ***/
#header img {
	float: left;
 	margin: 0 0 0 37px;
}
#header #toplink {
    background: #000000;
    color: #ffffff;
    padding: 7px;
}
#header #toplink #dateTime {
    float: left;
    margin: 0 0 0 10px;
}
#header #toplink .sysNav {
    margin: 0 0 0 670px;
}
#header #toplink .sysNav a {
    color: #ffffff;
    font-weight: bold;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
}
#header #toplink .sysNav a:first-child {
	border-left: none;
}
#header #toplink .sysNav a:hover {
    text-decoration: underline;
}
#header #banner {
    padding: 2px 0 10px 20px;
}
#mainNav .parentNav {
    background: url('../images/main-nav.png') top left repeat-x;
    height: 32px;
    position: relative;
    z-index: 1;
}
#mainNav .parentNav li {
    float: left;
    height: 32px;
}
#mainNav .parentNav li:hover {
    background: url('../images/hover.png') top left repeat-x;
}
#mainNav .parentNav li a {
    color: #ffffff;
    font-weight: bold;
    padding: 8px 8px;
    display: block;
}
#mainNav .parentNav li a:hover {
	text-decoration: none;
}
#mainNav .childNav {
    position: absolute;
    display: none;
    background: #3D9300;
    width: 165px;
}
#mainNav .childNav li {
    border-bottom: 1px solid #ffffff;
}
#mainNav .childNav li:last-child {
    border-bottom: none;
}
#mainNav .childNav li:hover {
    background: none;
}
#mainNav .childNav li a {
    color: #ffffff;
    background: none;
    padding: 8px 0 8px 10px;
    width: 155px;    
}
#mainNav .childNav li a:hover {
    text-decoration: underline;
    display: block;
}
#mainNav li:hover ul {
    display: block;
}
#subCat {
    background: #e7fec8;
    height: 33px;
}
/*** FORM ***/
.form p {
    margin: 0 0 5px 5px;
}
.form label {
    float: left;
    clear: left;
    width: 120px;
    margin: 5px;
}
.form input {
    margin: 5px 0;
    height: 20px;
  	width: 180px;
}
.form select {
    margin: 5px 0;
    height: 20px;
    width: 184px;
}
.form .submit {
    margin: 0 0 0 130px;
}
.form .submit input {
    width: 75px;
    height: 25px;
}
.form span {
    color: #ff0000;
    font-weight: bold;
}
.form .iFimg {
    margin: 0 0 0 130px;
}
.errMes {
    color: red;
    margin: 0 0 10px 5px;
}
.form .btnWidth {
	margin: 0 0 10px 130px
}
.form .btnWidth input[type=submit],input[type=reset] {
	width: 90px;
}
.form textarea {
	margin: 5px 0;
}
/*** FEATURED ***/
#featured {
	width: 500px;
	height: 333px;
	overflow: hidden;
	position: relative;
    float: left;
}
#featured ul.text {
	list-style: none;
	width: 200px;
	background: url(../images/pixel.png);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	}	
#featured h2 {
	font-size: 18px;
  color: yellow;
}
#featured a:hover {
    text-decoration: none;
}
#featured ul.text li {
	overflow: hidden;
	}
#featured p {
	height: 180px;
  overflow: hidden;
}
#featured a.readmore {
	background: #666;
	border: 1px solid #777;
	padding: 5px 0;
	text-align: center;
	color: #fff;
	clear: both;
	display: block;
	width: 80px;
	margin-top: 16px;
	text-decoration: none;
	font-size: 12px;
	line-height: 17px;
	}	
#featured a:hover.readmore {
	background: #888;
	border: 1px solid #999;
	text-decoration: none;
	}	
#featured ul.images {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	}	
#featured ul.images li {
	float: left;
	}					
#featured .controls {
	position: absolute;
	bottom: 10px;
	right: 10px;
	}	
#featured .controls a {
	width: 22px;
	height: 22px;
	display: block;
	float: left;
	background: url(../images/controls.png) no-repeat;
	}

#featured .controls .prev {
	background-position: 0 -22px;
	}

#featured .controls .next {
	background-position: -23px -22px;
	}
	
#featured .controls .play {
	background-position: -23px 0;
	display: none;
	}	
/*** NEWNEWS ***/
#newNews {
  width: 186px;
  overflow: hidden;
  height: 333px;
}
#newNews h2 {
	font-size: 20px;
  text-align: center;
  background: #F7A34F;
  padding: 5px;
  color: #ffffff;
  margin: 0 0 0 0;
}
#newNews ul {
	margin: 10px;
  font-weight: bold;
  overflow: auto;
}
#newNews ul li {
	margin: 8px 0 0 0;
}
#newNews a {
	margin: 7px;
}
/*** TOPRIGHT ***/
#topRightAdv input[type=text] {
	height: 25px;
  width: 180px;
  border: 0;
  padding: 0 0 0 5px;
}
#topRightAdv input[type=submit] {
	height: 29px;
  width: 89px;
  background: #3D9300;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

/*** CONTENT ***/
#content {
    margin: 20px 0;
    padding: 0 0 0 10px;
    width: 690px;
}
#content #floatLeft {
	float: left;
}
#content .mainContent {
	width: 690px;
  height: 260px;
  margin: 5px 0;
  position: relative;
}
#content .mainContent .menu {
	background: #E7FEC8 url('../images/box-title-bg.png') top left no-repeat;
  height: 34px;
}
#content .mainContent .menu h2 {
	float: left;
  color: #ffffff;
  font-size: 17px;
  margin: 6px 0 0 16px;
}
#content .mainContent .menu ul {
	margin: 0 0 0 250px;
}
#content .mainContent .menu li {
	float: left;
  margin: 8px 5px;
  border-left: 2px solid #417D17;
}
#content .mainContent .menu li:first-child {
	border-left: none;
}
#content .mainContent .menu li a {
	margin: 0 0 0 7px;
  font-weight: bold;
}
#content .mainContent .shortLeft {
	width: 380px;
}
#content .mainContent .shortLeft img {
	width: 160px;
    height: 120px;
  float: left;
  margin: 10px;
  border: 1px solid #C6C6C0;
  padding: 2px;
}
#content .mainContent .shortLeft .shortLeftContent {
	margin: 10px 0 0 0;
  position: absolute;
  left: 180px;
  width: 230px;
  height: 170px;
  overflow: hidden;
}
#content .mainContent .shortLeft .shortLeftContent h3 {
	margin: 0 0 5px 0;
}
#content .mainContent .listOther {
	float: right;
  width: 255px;
  height: 212px;
  overflow: hidden;
}
#content .mainContent .listOther li {
	margin: 10px;
}
#content .mainContent .more {
	color: red;
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 340px;
}
#content .mainContent .more a {
	color: red;
  font-weight: bold;
}
#content span {
	margin: 0 5px 0 0;
}
#content .sitemap {
	margin: 0 20px 20px;
  line-height: 20px;
}
#content .sitemap h2 {
	background: url('../images/arrow.png') no-repeat left;
  padding: 0 20px;
}
#content .sitemap ul {
	margin: 0 20px;
  line-height: 20px;
}
.pager {
    margin: 10px;
    text-align: center;
  	width: 100%;
  	clear: both;
}
.pager:link, .pager:visited {	
  padding: 3px 5px;
  margin: 0 2px;
  //border: 1px solid #42b707;
  font-weight: bold;
  color: #000000;
  background: #ededed;
}
.pager a:hover {
	background: #458319;
  color: #ffffff;
}
.pager
.current {
	padding: 3px 5px;
  background: #458319;
  font-weight: bold;
  color: #ffffff;
  margin: 0 2px
}
/*** SIDEBAR ***/
#sidebar {
  //clear: both;
    width: 280px;
    //height: 500px;
    float: right;
    margin: 20px 10px 0 0;
}
.item h2 {
	font-size: 17px;
  background: #EFEFEF url('images/sidebar-title-bg.png') repeat-x top left;
  padding: 9px 8px 9px 5px;
  color: #000000;
}
.item .tabs a {
  float: left;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  padding: 9px 3px 9px 7px;
  background: #EFEFEF url('images/sidebar-title-bg.png') repeat-x top left;
}
.item .tabs a:hover {
	text-decoration: none;
}
.item .mostComments {
	display: none;
}
.item .tabs .active {
	background: #FFFFFF;
  border: 1px solid #EFEFEF;
}
.item h3 {
	font-size: 15px;
  margin: 10px;
}
.item img {
	width: 280px;
}
.itemx {
	margin: 10px;
}
.itemx li {
	margin: 5px;
}
.itemx img {
	width: 60px;
  height: 50px;
  float: left;
  clear: left;
  margin: 0 5px 0 0;;
}
.itemx p {
	margin: 0 0 10px 0;
  height: 50px;
  overflow: hidden;
}
.hidden {
    display: none;
}
#poll div {
	padding: 5px 20px;
}
/*** LIST CATEGORIES ***/
#lMain {
	width: 670px;
  float: left;
  padding: 5px 5px 20px 5px;
}
#lMain .lFirstItem {
	background: #FCF49F;
  padding: 10px 0 10px 25px;
}
#lMain .lFirstItem img {
	width: 450px;
  border: 1px solid #C6C6C0;
  padding: 2px;
}
#lMain .lFirstItem h2 {
	font-size: 18px;
  margin: 0 10px 0 0;
}
#lMain .lFirstItem p {
	margin: 5px 31px 0 0;
  text-align: justify;
}
.lSecondItem {
	margin: 10px 0;
  border-bottom: 1px solid #C6C6C0;
  padding: 0 0 10px 0;
  height: 135px;
}
.lSecondItem img {
	width: 160px;
  height: 100px;
  float: left;
  clear: left;
  margin: 0 10px 10px 0;
  border: 1px solid #C6C6C0;
  padding: 2px
}
.lSecondItem p {
	height: 96px;
  overflow: hidden;
  text-align: justify;
  padding: 0 8px 0 0;
}
#lSecond {
	//float: right;
  width: 680px;
  height: 190px;
  overflow: hidden;
}
#lSecond h2 {
	background: #FCF49F;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}
#lSecond img {
	width: 120px;
  height: 80px;
}
#lSecond li {
	margin: 5px 0 0 15px;
  width: 120px;
  float: left;
}
/*** NEWS CONTENT ***/
#dContent {
	width: 650px;
  padding: 20px;
}
#dContent h1 {
	font-size: 25px;
  margin: 5px 0;
}
#dContent .shortContent {
	font-weight: bold;
  margin: 10px 0;
}
#dContent .time {
	color: #b2b2b2;
}
#dContent .author {
	font-weight: bold;
  text-align: right;
  border-bottom: 5px solid #B0E038;
  padding: 10px 0 20px 0; 
}
#dContent .cat {
	font-weight: bold;
}
#dContent .comment  p{
  margin: 20px 0;
  font-size: 15px;
}
#dContent .comment form p {
	background: #B0E038;
  padding: 10px;
  font-weight: bold;
  color: #065E09;
}
#dContent .comment textarea {
	background: #F7F7F7;
  padding: 5px;
  width: 635px;
  height: 60px;
}
#dContent .comment textarea:focus {
	background: #FCFCC4
}
#dContent .comment table {
	font-size: 14px;
  margin: 10px 0;
}
#dContent .comment input[type=text]{
	margin: 5px 0;
  height: 25px;
  font-size: 15px;
}
#dContent .comment input[type=submit]{
	margin: 0 0 0 122px;
}
#dContent .comment .count {
	font-weight: bold;
  color: red;
}
#dContent .comment .comments {
	width: 650px;
}
#dContent .comments .cSecond {
	border-top: 1px solid #DDDDDD;
  padding: 10px 0px;
}
#dContent .comments .cThird {
	padding: 0 0 5px 20px;
} 
#dContent .comments .cAuthor {
	font-weight: bold;
  color: #578CCA;
}
.otherNewss h2 {
	font-size: 20px;
}
.otherNews {
	margin: 10px 30px;
}
.otherNews li {
	font-size: 13.5px;
}
.otherNews li{
	list-style: square;
}
.like {
	margin: 20px 0 0 0;
}
/*** FOOTER ***/
#toTop {
  width: 50px;
  height: 50px;
	position: fixed;
  bottom: 20px;
  right: 20px;
  text-indent: -99999px;
  cursor: pointer;
  background: url('../images/top.png') no-repeat 0 0;
}
#footer .footerAdv {
    margin: 0 0 0 20px;
}
#footer .footerNav {
	margin: 20px 20px 5px;
}
#footer .footerNav li {
	display: inline;
}
#footer .footerNav li a {
	margin: 0 4px;
  font-weight: bold;
  color: #629738;
}
#footer .footerNav li a:hover {
	text-decoration: underline;
}
#footer p {
    //clear: both;
    margin: 10px;
    text-align: center;
}
#footer img[alt=Talk] {
	float: left;
  margin: 10px 20px;
}
#footer img[alt=Adv] {
	float: right;
  margin: 10px 20px;
}
#footer .footerAdv {
	margin: 0;
}
.results {
	//margin: 50px 100px;
  background: #ffffff;
  height: 450px;
}
.results h1 {
	background: #F9EA86;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.results div {
	margin: 5px 20px;
  line-height: 20px;
}
.results h3 {
	border-top: 2px solid #F9EA86;
  padding: 5px 0;
}







































